$pink: #f8315a;
$pink-shadow: rgba(228,19,100,.75);
$white: white;
$black: black;
@mixin general-buttons{
    background-color: $pink;
    border: 1px solid $pink;
    border-radius: 50px;
    color: $white;
    padding: 10px 20px 10px 20px;
}

@import 'header';



body{
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Open Sans",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}



#facts{

    .grid-item{
        position: relative;
        min-width: 30vw;
        margin: 0px auto;
        
        figure{
            margin-right: 80px;
        }

        img{
            position: absolute;
            clip: rect(0px, 80px, 80px, 0px); 
            transition: clip 1s;
           
            
            
        }

        p{
          margin: 70px auto;
          margin-bottom: 0px;
          ;

        }

        p:last-child{
            margin:0px
        }

        
    }

    #grid-item1 p{
        color:$pink;
        
        
    }

        
    

   

}


