.section-divider, footer, #blogs, #doctorsContainer, #FAQ, #subscribe, #protection, #symptoms, .def-corona-section, .stats {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.h1-info-element, #symptoms .symptom-title, .stats .belgium-title {
  color: #353C4C;
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: capitalize;
}

.h3-info-element, #blogs h3, #doctorsContainer h3, #FAQ h3, #subscribe .subscribe-container .content-container h3, #protection h3, .def-corona-section h3 {
  color: #353C4C;
  font-size: 2.3rem;
  font-weight: 700;
  text-transform: capitalize;
}

.h4-info-element, #blogs h4 a, #subscribe .subscribe-container .content-container h4, .def-corona-section h4 {
  color: #353C4C;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 2rem;
}

.h5-info-element, #FAQ .faq-container button h5, #protection h5, #symptoms .symptom-container h5 {
  color: #353C4C;
  font-weight: 700;
  font-size: 1.2rem;
}

.span-info-element, #blogs span, #doctorsContainer span, #FAQ span, #protection .span-container span, #symptoms span, .def-corona-section span, .stats .belgium-span {
  color: #6b6b6b;
  font-style: italic;
  font-size: 0.8rem;
  font-weight: 300;
  text-transform: capitalize;
}

.p-info-element, #protection p, #symptoms .symptom-container p, .def-corona-section p {
  color: #353C4C;
  font-size: 0.8rem;
  line-height: 2;
  font-weight: 300;
}

body body {
  margin: 0;
  font-family: "Roboto", "Open Sans", "sans-serif";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  overflow: hidden;
  overflow-y: hidden;
}

header {
  background-image: url("../img/header-banner.jpg");
  background-position: cover;
  height: 100vh;
  position: relative;
  overflow: hidden;
  /* Collapse button*/
  /* Main content header */
  /*----------------------Smaller screens-----------------------------*/
}
header .hamburger {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 4;
}
header .hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
header .hamburger span {
  background: #f8315a;
}
header .hamburger span:nth-child(1) {
  top: 0px;
}
header .hamburger span:nth-child(2) {
  top: 10px;
}
header .hamburger span:nth-child(3) {
  top: 20px;
}
header .hamburger.open span:nth-child(1) {
  top: 11px;
  transform: rotate(135deg);
  background: white;
}
header .hamburger.open span:nth-child(2) {
  opacity: 0;
}
header .hamburger.open span:nth-child(3) {
  top: 11px;
  transform: rotate(-135deg);
  background: white;
}
header .main-nav {
  width: 100%;
  margin: 0 auto;
  padding: 3rem;
}
header .navtitle {
  display: none;
}
header .navListItem a {
  color: white;
  transition: all 1s ease;
}
header .navListItem a:hover, header .navListItem a:active {
  color: #f8315a;
}
header .navListItem .button {
  color: white;
  background-color: #f8315a;
  border: 1px solid #f8315a;
  border-radius: 1rem;
  cursor: pointer;
  margin-top: 0.2rem;
}
header .navListItem .button:hover {
  box-shadow: 0 3px 19.53px 1.47px rgba(228, 19, 100, 0.75);
}
header .headerImg {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 30rem;
  z-index: 1;
}
header .header-banner {
  position: relative;
  z-index: 2;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 1rem;
}
header .header-banner h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
}
header .header-banner small {
  font-size: 30px;
  font-weight: 300;
}
header .header-banner h3 {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}
header .header-banner .get-started {
  color: white;
  background-color: #f8315a;
  border: 1px solid #f8315a;
  border-radius: 1rem;
  cursor: pointer;
  width: 180px;
  text-align: center;
  margin-top: 2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  transform: all 1s ease;
}
header .header-banner .get-started:hover {
  box-shadow: 0 3px 19.53px 1.47px rgba(228, 19, 100, 0.75);
}
header .header-banner .get-started a {
  color: white;
  text-decoration: none;
}
@media (max-width: 992px) {
  header .navbar-collapse {
    position: absolute;
    top: 0px;
    left: 100%;
    width: 100%;
    height: 100vh;
    transition: all 0.3s ease;
    display: block;
    z-index: 3;
  }
  header .navbar-collapse.collapsing {
    height: auto !important;
    margin-left: 50%;
    transition: all 0.3s ease;
    display: block;
  }
  header .navbar-collapse.show {
    left: 0;
  }
  header .sidebar-style {
    background-color: #f8315a;
  }
  header .navList {
    margin-top: 0rem;
  }
  header .navList:first-child {
    color: white;
    margin-top: 4.5rem;
    margin-bottom: 4rem;
  }
  header .navList:first-child .navtitle {
    display: block;
    font-size: 120%;
    margin-left: 2rem;
    margin-bottom: 1rem;
    font-weight: bolder;
  }
  header .navListItem {
    border-bottom: 1px solid white;
    font-weight: bold;
  }
  header .navListItem a {
    color: white;
    transition: all 1s ease;
    margin-left: 2rem;
  }
  header .navListItem a:hover, header .navListItem a:active {
    color: white;
    background: #2f2f2f;
  }
  header .navListItem .button {
    font-weight: bold;
    background-color: transparent;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 2rem;
  }
  header .navListItem .button:hover {
    box-shadow: 0 0px 0px 0px rgba(228, 19, 100, 0.75);
  }
  header .headerImg {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 50%;
  }
}

.stats {
  background-image: url("../img/statistics-bg.png");
  background-size: cover;
  background-repeat: repeat;
  font-size: 1.5em;
  text-align: center;
}
.stats .belgium-title {
  margin: 0;
}
.stats .belgium-span {
  margin-bottom: 2rem;
  font-size: 0.9rem;
}
.stats .row {
  margin-top: 1rem;
}
.stats .crop {
  width: 80px;
  height: 80px;
  overflow: hidden;
}
.stats .crop img {
  top: 0px;
  position: relative;
  transition: all 0.3s ease;
}
.stats .crop img:hover {
  top: -72px;
}
.stats .virus-img2 {
  right: 70px;
}
.stats .virus-img3 {
  right: 140px;
}
.stats .virus-img4 {
  right: 210px;
}
.stats .stat-info h4 {
  font-weight: 700;
}
.stats .stat-info1 {
  color: #FF415B;
}
.stats .stat-info2 {
  color: #E13588;
}
.stats .stat-info3 {
  color: #A533D7;
}
.stats .stat-info4 {
  color: #F9871D;
}

/*----------------------Smaller screens-----------------------------*/
@media (max-width: 992px) {
  .stats {
    font-size: 1em;
  }
}
.table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 2rem;
}

table, th, td {
  border: 1px solid rgba(70, 66, 66, 0.5);
}

.def-corona-section {
  box-shadow: inset 0px 21px 15px 0px #f4f4f4;
}
.def-corona-section img {
  width: 100%;
}
#symptoms {
  background-image: url("../img/symptoms-bg.png");
}
#symptoms .symptom-title {
  text-align: center;
}
#symptoms span {
  margin-bottom: 2rem;
  font-size: 0.9rem;
  text-align: center;
}
#symptoms .symptom-container h5 {
  margin-top: 1rem;
}
#symptoms .symptom-container:hover .image-container {
  border: 3px solid white;
}
#symptoms .symptom-container:hover .img-row1 {
  top: -22rem;
  background-color: #f8315a;
}
#symptoms .symptom-container:hover .img-row2 {
  top: -28rem;
  background-color: #f8315a;
}
#symptoms .symptom-container:hover h5 {
  color: #f8315a;
}
#symptoms .symptom-container .image-container {
  color: #353C4C;
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border: 2px dotted #353C4C;
  border-radius: 50%;
}
#symptoms .symptom-container .image-container .img-row1 {
  position: absolute;
  top: -10.2rem;
  transition: all 0.6s ease;
}
#symptoms .symptom-container .image-container .img-row2 {
  position: absolute;
  top: -16rem;
  left: -0.4rem;
  transition: all 0.6s ease;
}
#symptoms .symptom-container .image-container .symptom2 {
  left: -7.5rem;
}
#symptoms .symptom-container .image-container .symptom3 {
  left: -15.1rem;
}
#symptoms .symptom-container .image-container .symptom5 {
  left: -7.8rem;
}
#symptoms .symptom-container .image-container .symptom6 {
  left: -15rem;
}
#symptoms .symptom-container .image-container:hover {
  border: 3px dotted #f8315a;
}
#symptoms .symptom-container .image-container:hover img {
  background-color: #f8315a;
}
#symptoms .symptom-container .image-container:hover .img-row1 {
  top: -22rem;
}
#symptoms .symptom-container .image-container:hover .img-row2 {
  top: -28rem;
}

#protection {
  text-align: center;
}
#protection h5 {
  margin-top: 1rem;
}
#protection p {
  font-size: 1rem;
}
#protection .span-container {
  margin: 0 auto;
  max-width: 550px;
}
#protection .span-container span {
  text-align: center;
}
#protection .protection-container {
  position: relative;
  overflow: hidden;
  padding-top: 3rem;
}
#protection .protection-container .protect-bg {
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  margin-top: -250px;
  /* Half the height */
  margin-left: -250px;
  /* Half the width */
  z-index: -1;
}
#protection .protection-container .column1 {
  margin-right: 60px;
}
#protection .protection-container .column2 {
  margin-left: 180px;
}
#protection .protection-container .protect-container .image-container {
  overflow: hidden;
  position: relative;
  min-width: 70px;
  min-height: 70px;
  max-width: 70px;
  max-height: 70px;
  border: 1px solid #353C4C;
  border-radius: 50%;
  margin-bottom: 2.8rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background: white;
}
#protection .protection-container .protect-container .image-container img {
  position: absolute;
  top: 0.1rem;
  left: -0.1rem;
  transition: all 0.6s ease;
}
#protection .protection-container .protect-container .image-container .protect2 {
  left: -3.9rem;
}
#protection .protection-container .protect-container .image-container .protect3 {
  left: -8rem;
}
#protection .protection-container .protect-container .image-container .protect4 {
  left: -11.8rem;
}
#protection .protection-container .protect-container .image-container .protect5 {
  top: -0.2rem;
  left: -15.6rem;
}
#protection .protection-container .protect-container .image-container .protect6 {
  top: -0.2rem;
  left: -19.5rem;
}
#protection .protection-container .protect-container:hover .image-container {
  border: 1px solid white;
  background-color: #f8315a;
}
#protection .protection-container .protect-container:hover img {
  top: -5.1rem;
  background-color: #f8315a;
}
#protection .protection-container .protect-container:hover .protect5, #protection .protection-container .protect-container:hover .protect6 {
  top: -5.2rem;
}
#protection .protection-container .protect-container:hover h5 {
  color: #f8315a;
}
@media only screen and (max-width: 768px) {
  #protection .protection-container {
    flex-direction: column;
    margin-left: 1rem;
  }
  #protection .protect-bg {
    display: none;
  }
  #protection .column1 {
    margin-right: 0px;
  }
  #protection .column1 .protect-container {
    flex-direction: row-reverse;
  }
  #protection .column1 .protect-container h5 {
    text-align: left !important;
  }
  #protection .column1 .protect-container p {
    text-align: left !important;
  }
  #protection .column2 {
    margin-left: 0px !important;
  }
}

#subscribe {
  background: url("../img/subscribe-bg.jpg");
  background-size: cover;
  background-position: right bottom;
}
#subscribe .subscribe-container .content-container {
  margin-left: 2rem;
  margin-right: 8rem;
}
#subscribe .subscribe-container .content-container h3 {
  white-space: nowrap;
  color: white;
  margin: 0;
}
#subscribe .subscribe-container .content-container h4 {
  white-space: nowrap;
  color: white;
  margin: 0px;
}
#subscribe .subscribe-container form {
  position: relative;
  margin-top: 1rem;
  width: 100%;
}
#subscribe .subscribe-container form input {
  border-radius: 3rem;
  height: 3rem;
  background: #16253cad;
  border: 1px solid #283d5cfa;
}
#subscribe .subscribe-container form .subscribe-btn {
  color: white;
  background-color: #f8315a;
  border: 1px solid #f8315a;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: 300;
  border-radius: 3rem;
  height: 3rem;
  width: 8rem;
  right: -0.1rem;
  position: absolute;
}
#subscribe .subscribe-container form .subscribe-btn:hover {
  box-shadow: 0 3px 19.53px 1.47px rgba(228, 19, 100, 0.75);
}

@media screen and (max-width: 568px) {
  #subscribe .subscribe-container {
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media only screen and (min-width: 568px) and (max-width: 668px) {
  #subscribe .content-container {
    margin-left: 1rem;
    margin-right: 1rem !important;
  }
  #subscribe #subscribe {
    padding-bottom: 12rem;
  }
  #subscribe form {
    margin-right: 2rem;
    width: 100%;
  }
  #subscribe .subscribe-btn {
    right: 1rem;
    top: 4rem;
  }
}
@media only screen and (min-width: 668px) and (max-width: 768px) {
  #subscribe {
    padding-bottom: 5rem;
  }
  #subscribe form {
    margin-right: 2rem;
  }
  #subscribe .subscribe-btn {
    right: 1rem;
    top: 4rem;
  }
}
#FAQ {
  text-align: center;
}
#FAQ .faq-container {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
#FAQ .faq-container .hide {
  position: absolute;
  top: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 4s linear;
}
#FAQ .faq-container .show {
  display: block;
  height: 250px;
  transition: all 4s linear;
}
#FAQ .faq-container button {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}
#FAQ .faq-container button i {
  color: #353C4C;
  border: 1px solid #eee;
  border-radius: 50%;
  padding: 0.5rem;
  background: #eee;
}
#FAQ .faq-container button .fa-chevron-down {
  border: 1px solid #f8315a;
  background: #f8315a;
  color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
#FAQ .faq-container button h5 {
  margin-left: 3rem;
  margin-top: 0.5rem;
  font-size: 1rem;
}
#FAQ .faq-container .dropdownText {
  margin-top: 1rem;
  text-align: left;
}

#doctorsContainer {
  text-align: center;
  margin: 0 auto;
}
#doctorsContainer .row {
  display: flex;
  justify-content: center;
}
#doctorsContainer .doctor-card {
  position: relative;
  margin-top: 2rem;
  margin-right: 2rem;
  padding: 0;
  max-width: 350px;
  transition: all 0.6s ease;
  white-space: nowrap;
}
#doctorsContainer .doctor-card .overlay {
  display: none;
}
#doctorsContainer .doctor-card h6 {
  color: #6b6b6b;
}
#doctorsContainer .doctor-card:hover {
  box-shadow: 0px 0px 28px 0px rgba(32, 32, 32, 0.336);
}
#doctorsContainer .doctor-card:hover .member-body {
  position: relative;
  z-index: 3;
  background: #f8315a;
  color: white;
}
#doctorsContainer .doctor-card:hover .member-body h6 {
  color: white;
}
#doctorsContainer .doctor-card:hover .overlay {
  transition: all 0.6 ease;
  position: absolute;
  background-color: rgba(53, 60, 76, 0.753);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6 ease;
  z-index: 2;
}
#doctorsContainer .doctor-card:hover .overlay i {
  cursor: pointer;
  margin-right: 0.2rem;
  margin-bottom: 2rem;
  min-width: 30px;
  padding: 0.5rem;
  border: 1px solid rgba(41, 40, 40, 0.288);
}
#doctorsContainer .doctor-card:hover .overlay .fa-facebook-f {
  color: #3b5998;
}
#doctorsContainer .doctor-card:hover .overlay .fa-facebook-f:hover {
  background: white;
}
#doctorsContainer .doctor-card:hover .overlay .fa-twitter {
  color: #1da1f2;
  transition: all 0.6 ease;
}
#doctorsContainer .doctor-card:hover .overlay .fa-twitter:hover {
  background: white;
}
#doctorsContainer .doctor-card:hover .overlay .fa-linkedin {
  color: #007bb5;
  transition: all 0.6 ease;
}
#doctorsContainer .doctor-card:hover .overlay .fa-linkedin:hover {
  background: white;
}
#doctorsContainer .doctor-card:hover .overlay .fa-google-plus-g {
  color: #ea4335;
  transition: all 0.6 ease;
}
#doctorsContainer .doctor-card:hover .overlay .fa-google-plus-g:hover {
  background: white;
}

#blogs {
  text-align: center;
  background-image: url("../img/latest-blog-bg.png");
  background-size: cover;
}
#blogs .blog {
  position: relative;
  text-align: center;
  padding: 0;
  margin-right: 1rem;
  margin-top: 2rem;
  margin-left: 1rem;
  transition: all 0.6s ease;
}
#blogs .blog:hover {
  box-shadow: 0px 0px 28px 0px rgba(32, 32, 32, 0.336);
}
#blogs .blog:hover .date-container {
  transition: all 0.6s ease;
  background: #f8315a;
}
#blogs .blog:hover h4 a {
  transition: all 0.6s ease;
  color: #f8315a;
}
#blogs .blog .blog-body {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
#blogs .date-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  color: white;
  background-color: #353C4C;
}
#blogs .date-container h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.1rem;
  color: white;
}
#blogs h4 a {
  font-size: 1.3rem;
  margin-top: 0;
  transition: all 0.6s ease;
}
#blogs h4 a:hover {
  border-bottom: 2px solid #f8315a;
}
#blogs table {
  margin: 0;
  width: 100%;
  border-collapse: collapse;
}
#blogs table, #blogs td {
  border: 1px solid #eee;
}
#blogs td {
  height: 50px;
}
#blogs a {
  text-decoration: none;
  color: #6b6b6b;
  transition: all 0.6s ease;
  font-size: 0.8rem;
}
#blogs a:hover {
  color: #f8315a;
}

footer {
  background-image: url("../img/footer-bg.jpg");
  background-size: cover;
  font-size: 0.9rem;
}
footer .contact-container {
  max-width: 350px;
}
footer .contact-container img {
  max-width: 200px;
  margin-bottom: 2rem;
}
footer .contact-container a {
  text-decoration: none;
  color: white;
  margin-bottom: 0.5rem;
  transition: all 0.6s ease;
}
footer .contact-container a:hover {
  color: #f8315a;
}
footer .contact-container a address {
  margin: 0;
}
footer .contact-container a address:hover {
  color: white;
}
footer .contact-container a i {
  margin-right: 0.5rem;
  cursor: pointer;
  color: #f8315a;
  min-width: 30px;
  padding: 0.5rem;
}
footer .contact-container a .social-icon {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-right: 0;
  border: 1px solid rgba(68, 66, 66, 0.726);
  transition: all 0.6 ease;
}
footer .contact-container a .social-icon:hover {
  background: white;
}
footer .contact-container a .fa-facebook-f {
  color: #3b5998;
}
footer .contact-container a .fa-twitter {
  color: #1da1f2;
}
footer .contact-container a .fa-linkedin {
  color: #007bb5;
}
footer .contact-container a .fa-google-plus-g {
  color: #ea4335;
}
footer .contact-container a .fa-wifi {
  color: yellow;
}
footer .contact-container a .fa-youtube {
  color: red;
}
footer h4 {
  padding-top: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: white;
}
footer p {
  color: white;
}
footer .useful-links-section a {
  text-decoration: none;
  color: white;
  margin-bottom: 1rem;
  margin-right: 1rem;
  transition: all 0.6s ease;
}
footer .useful-links-section a i {
  margin-right: 0.3rem;
}
footer .useful-links-section a:hover {
  color: #f8315a;
}
footer form {
  position: relative;
  margin-top: 1rem;
}
footer form .input {
  width: 100%;
  height: 3rem;
  border-radius: 3rem;
  border: 1px solid white;
}
footer form .input::placeholder {
  padding-left: 1.5rem;
}
footer form .subscribe-btn {
  position: absolute;
  color: white;
  background-color: #f8315a;
  border: 1px solid #f8315a;
  border-radius: 1rem;
  cursor: pointer;
  width: 6.5rem;
  height: 2.8rem;
  border-radius: 3rem;
  right: 0.1rem;
  top: 0.1rem;
}
footer form .subscribe-btn:hover {
  box-shadow: 0 3px 19.53px 1.47px rgba(228, 19, 100, 0.75);
}
footer .copyright {
  margin-top: 2rem;
  padding-top: 3rem;
  text-align: center;
  border-top: 1px solid rgba(66, 68, 68, 0.726);
}
footer .copyright p {
  color: #8C98AF;
}
footer .copyright p a {
  text-decoration: none;
  color: white;
}
footer .copyright p a:hover {
  border-bottom: 1px solid white;
}

/*# sourceMappingURL=style.css.map */
