$pink:#f8315a;
$white: white;
$gray: #353C4C;
$light-gray:#6b6b6b;
@mixin general-button {
    color: $white;
    background-color: $pink;
    border: 1px solid $pink;
    border-radius:1rem;
    cursor: pointer;
    
    &:hover{
       box-shadow: 0 3px 19.53px 1.47px rgba(228,19,100,.75)
    }

}

.section-divider{
    padding-top:3rem;
    padding-bottom:3rem;
}

.h1-info-element{
    color: $gray;
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: capitalize;
}

.h3-info-element{
    color: $gray;
    font-size: 2.3rem;
    font-weight: 700;
    text-transform: capitalize;
}

.h4-info-element{
    color: $gray;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 2rem;
}

.h5-info-element{
    color: $gray;
    font-weight:700;
    font-size:1.2rem;
    
}

.span-info-element{
    color: $light-gray;
    font-style: italic;
    font-size: 0.8rem;
    font-weight: 300;
    text-transform: capitalize;
   
}




.p-info-element{
    color: $gray;
    font-size: 0.8rem;
    line-height: 2;
    font-weight: 300;
}



body{
    body {
        margin: 0;
        font-family: 'Roboto','Open Sans','sans-serif';
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        background-color: #fff;
        overflow: hidden;
        overflow-y: hidden;
    }

}