#protection{
    @extend .section-divider;
    text-align: center;

   h3{
       @extend .h3-info-element;
   }

    h5{
        @extend .h5-info-element;
        margin-top: 1rem;
    }

    p{
        @extend .p-info-element;
        font-size: 1rem;
    }

    .span-container{
        margin: 0 auto;
        max-width: 550px;

        span{
       
            @extend .span-info-element;
            text-align: center;
            
            
        }

    }
    
   

    .protection-container{
        position: relative;
        overflow: hidden;
        padding-top: 3rem;

       .protect-bg{
        padding-top: 3rem;
        padding-bottom: 3rem;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 500px;
        height: 500px;
        margin-top: -250px; /* Half the height */
        margin-left: -250px; /* Half the width */
        z-index: -1;
       }

       .column1{
           margin-right: 60px;
       }

       .column2{
           margin-left: 180px;
       }
       
       
     
        

        .protect-container{

            
           

            .image-container{
                
                overflow: hidden;
                position: relative;
                min-width: 70px;
                min-height: 70px;
                max-width: 70px;
                max-height: 70px;
                border: 1px solid $gray;
                border-radius: 50%;
                margin-bottom: 2.8rem;
                margin-left: 1rem;
                margin-right: 1rem;
                background: $white;
            
                
                
                
                img{
            
                    position: absolute;
                    top:0.1rem;
                    left: -0.1rem;
                    transition: all 0.6s ease;
                
                    
                }

                .protect2{
                    left: -3.9rem;
                }

                .protect3{
                    
                    left: -8rem;
                }

                .protect4{
                    left: -11.8rem;
                }


                .protect5{
                    top: -0.2rem;
                    left: -15.6rem;
                }

                .protect6{
                    top: -0.2rem;
                    left: -19.5rem;
                }
                
                
                
            
            }


            &:hover{

                .image-container{
                    border: 1px solid $white;
                    background-color: $pink;
                }
                
               
                img{
                    top: -5.1rem;
                    background-color: $pink;
        
                }
                .protect5, .protect6{
                    top: -5.2rem;
                    
                }
                
                h5{
                    color: $pink
                }

               
                

            }

       
        }
      
    } 

    @media only screen and (max-width: 768px) {
        .protection-container{
            flex-direction: column;
            margin-left: 1rem;
            
        }
        
        .protect-bg{
            display: none;
      }

      .column1 {

        margin-right: 0px;
        .protect-container{
            
            flex-direction: row-reverse;
            h5{
                text-align: left !important;
            }

            p{
                text-align: left !important;
            }
        }
        }
     
        .column2{
            margin-left: 0px !important;
        }

    }  
    

};
