.stats{

    background-image: url('../img/statistics-bg.png');
    background-size: cover;
    background-repeat: repeat;
    @extend .section-divider;
    font-size: 1.5em;
    text-align: center;

    .belgium-title{
        @extend .h1-info-element;
        margin: 0;
        
    
   
    }

    .belgium-span{
        @extend .span-info-element;
        margin-bottom: 2rem;
        font-size:0.9rem;
        
        
       
    }   

    .row{
        margin-top:1rem;
    }


    

    // Virus images 
   
    .crop{
       
        width: 80px;
        height: 80px;
        overflow: hidden;
        
        
     img{
        top:0px;
        position: relative;
        transition: all 0.3s ease;
         &:hover{
             
             top: -72px;
         }
     }
    
    }
    
     .virus-img2{ 
        right: 70px; 
      
     }


     .virus-img3{ 
        right: 140px; 
      
     }

     .virus-img4{ 
        right: 210px; 
      
     }

    .stat-info h4{
        font-weight: 700;
    }

    .stat-info1{
        color:#FF415B;
    }

    .stat-info2{
        color:#E13588;
    }

    .stat-info3{
        color:#A533D7;
    }

    .stat-info4{
        color:#F9871D;
    }
    

    
}

/*----------------------Smaller screens-----------------------------*/

@media (max-width: 992px) {
    .stats{
        font-size: 1em;
    }
}
